* {
    box-sizing: border-box;
    font-family: Grandstander;
  }
body {
    background-image: url(/the-merry.png);
    background-position: cover;
    text-align: center;
    margin-top: 50px;   
}

.Title {
    font-size: 25px;
}
.Title > h3 {
    position: relative;
    bottom: 35px;
    left: 80px;
    font-size: 20px;
}

.Game {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    height: 500px;
    width: 800px;
    margin: auto;
    padding: 0;
}

.Game > div h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}
.Game button {
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-bottom: 45%; */
    font-size: larger;
    border: none;
    background-color: transparent;
}

.home-luffy > img {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 300px;
    margin-top: -210px;
}


.row1 > button, .row2 > button, .row3 > button {
    display: inline-block;
    border: red solid 1px;
    border-radius: 30px;
    background-color: #ecd234;
    color: #eb4034;
    height: 40px;
    width: 40px;
    text-align: center;

}
.row1, .row2, .row3 {
    height: 40px;
}
div > h2 {
    font-size: x-large;
}
.text-line {
    display:  none;
    font-size: xx-large;
    margin-top: 5%;
}
.keypad {
    display: none;
    margin-top: 10%;
}

.play-button {
    position: relative;
    border-style: solid;
    border-width: 2.5em 0 2.5em 5em;
    border-color: transparent transparent transparent #000;
    opacity: .75;
    margin-left: 32px;
    margin-bottom: 30px;
  }

  #Start {
    margin-top: 15%; 
  }

  .Angry-Luffy-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
}

  .Angry-Luffy-Container > img {
    width: 10%;
    
  }